*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.adduser{
    margin: 5px;
    padding: 10px;
}